:root {
	--main-color1: #3AB595;
	--main-color2: #1F2020;
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Libertine-Regular';
	src: url("../fonts/LinLibertine_R.ttf") format("truetype");
}

.bg-dark {
	background-color: var(--main-color2) !important;
}
.btn-primary {
	color: #fff !important;
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}
.btn-success {
	color: #fff !important;
	background-color: #198754 !important;
	border-color: #198754 !important;
}

.version {
	padding-left: .2rem;
	font-size: .8rem;
	color: grey;
}

.container__main { height: calc(100% - 51px) }

.card { margin: 1rem 0.2rem; }


/* Test Input */
.form-input {
  margin: 40px 0;
  width: 100%;
}
.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
}
.form-input .placeholder {
  position: absolute;
  display: block;
  top: 23px;
  z-index: 2;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
}
.form-input input,
.form-input textarea {
  position: absolute;
  top: 15px;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid grey;
  transition: border-color 200ms ease-in-out;
  outline: none;
  padding: 0;
  margin: 0;
}
.form-input textarea {
  min-height: 30px;
  padding: 8px 0;
}
.form-input input {
  height: 30px;
}
.form-input input:focus,
.form-input input:valid,
.form-input textarea:focus,
.form-input textarea:valid {
  border-bottom: 2px solid orange;
}
.form-input input:focus + .placeholder,
.form-input input:valid + .placeholder,
.form-input textarea:focus + .placeholder,
.form-input textarea:valid + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: orange;
}