:root {
	--main-color1: #3AB595;
	--main-color2: #1F2020;
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Libertine-Regular';
	src: url("../fonts/LinLibertine_R.ttf") format("truetype");
}

.bg-dark {
	background-color: var(--main-color2) !important;
}
.btn-primary {
	color: #fff !important;
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}
.btn-success {
	color: #fff !important;
	background-color: #198754 !important;
	border-color: #198754 !important;
}

.version {
	padding-left: .2rem;
	font-size: .8rem;
	color: grey;
}

.container__main { margin-top: 0.5rem; height: calc(100% - 51px) }